<footer >
    <hr>
    <section class="row" >
        <div class="col-md-3">
            <p class="header">phone</p>
            <p class="content">
                01122838907
            </p>
        </div>
        <div  class="col-md-3">
            <p class="header">Email</p>
            <p class="content"> 
                Raafat44.Medhat44@gmail.com             
            </p>
        </div>
        <div  class="col-md-3">
            <p class="header">
                Follow Me
            </p>
            <p class="content"></p>
            <div class="icons">                
                <a href="https://www.facebook.com/profile.php?id=100018212408930" target="_blank"><i class="fab fa-facebook-f" style="color: blue;"></i></a>
                <a href="https://github.com/Raafat44?tab=repositories" target="_blank"><i class="fab fa-github" style="color:black;"></i></a>
                <a href="https://www.linkedin.com/in/raafat-medhat-64577021b/" target="_blank"><i class="fab fa-linkedin" style="color: #495057;"></i></a>
            </div>
        </div>            
    </section>
</footer>
