footer
{
    margin-bottom: 50px;
}
section
{
   margin:0;
   padding: 0;
   display: flex;
   justify-content: space-between;
}
div
{   
    text-align: center;
}
div p.header 
{
    font-size: 20px;
    font-weight: bold;
}
.icons
{
    display: flex;
    justify-content: center;
}
.icons a
{
    margin-right: 20px;
    font-size: 20px;
}
