<section class="fade">
    <h1>Skills <br>& Expertise</h1>
<!--     <div class="ED-Container row ">
        <div class="ED col-md-6">
            <h2>Education</h2>            
        </div>
        <div class="col-md-6">
            <div class="detail row">
                <div class="Year col-md-3">2019 - 2023</div>
                <div class="exp col-md-9">
                    <h3>Faculty of computer and information science Ain shams university</h3>
                    <p>
                        UnderGraduate
                    </p>                
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="WE-Container row ">
        <div class="WE col-md-6">
            <h2>Trainings</h2>            
        </div>
        <div class=" cont col-md-6">
            <div class="detail row">
                <div class="Year col-md-3">2019 - 2020</div>
                <div class="exp col-md-9">
                    <h3>Frontend training</h3>
                    <p>
                        Frontend training at FCIS
                    </p>                
                </div>
            </div>
            <div class="detail row">
                <div class="Year col-md-3">2019 - 2020</div>
                <div class="exp col-md-9">
                    <h3>Frontend Work Shop</h3>
                    <p>
                        Frontend Work Shop in Support Community at FCIS
                    </p>                
                </div>
            </div>            
        </div>        
    </div>   
    <hr>
 -->    <!-- <div class="exp-Container row ">
        <div class="exp col-md-7">
            <h2>Skills <br>& Expertise</h2>            
        </div>
        <div class="col-md-5">            
            <div class="mainSkill ">
                <div class=" skills col-md-5">
                   <div> Html Poster</div>
                   <div>HTML</div>
                </div>
                <div class="skills col-md-5">
                    <div> css Poster</div>
                    <div>css</div>
                 </div>
            </div>
        </div>
    </div> -->
    <div class="exp-Container">        
        <div class="sk col-12">
        </div>
        <div class="mainSkill row">
            <div class=" skills col-md-3">
                <div style="left: 0px;top: 7px;"><img style="height: 50px; width: 100px;" class="images" [src]="php" alt=""> </div>
                <div>php</div>
                <div></div>
            </div>  
            <div class=" skills col-md-3">
                <div style="left: 0px;top: 7px;"><img style="height: 50px; width: 100px;" class="images" [src]="mysql" alt=""> </div>
                <div>mysql</div>
                <div></div>
            </div>  
            <div class=" skills col-md-3">
                <div style="left: -5px;top: 7px;"><img style="height: 50px; width: 100px;" class="images" [src]="laravel" alt=""> </div>
                <div>laravel</div>
                <div></div>
            </div>  
        </div>
        <div class="mainSkill row">
            <div class=" skills col-md-3">
                <div style="top: 8px; left: 0;"><img style="height: 60px; width: 100px;" class="images" [src]="HTML5" alt=""></div>
                <div>Html5</div>
                <div></div>
             </div>
             <div class=" skills col-md-3">
                <div style="top: 5px; left: 12px;"><img  style="height: 65px; width: 70px;" class="images" [src]="CSS3" alt=""></div>
                <div>CSS3</div>
                <div></div>
             </div>
             <div class=" skills col-md-3">
                <div style="top: 5px; left: 10px;"><img style="height: 70px; width: 80px;" class="images" [src]="js" alt=""></div>
                <div>JavaScript</div>
                <div></div>
             </div>             
        </div>
        <div class="mainSkill row">
            <div class=" skills col-md-3">
                <div style="top: 5px; left: -40px;"><img style="height: 80px; width: 170px;" class="images" [src]="bootstrap" alt=""></div>
                <div>Bootstrap</div>
                <div></div>
             </div>
             <div class=" skills col-md-3">
                <div style="top: 4px; left:7px"><img style=" height: 60px; width: 80px;" class="images" [src]="jquery" alt=""></div>
                <div>jQuery</div>
                <div></div>
             </div>
             <div class=" skills col-md-3">
                <div style="top: 5px; left: 3px;"><img style="height: 70px; width: 90px;" class="images" [src]="angular" alt=""></div>
                <div>Angular</div>
                <div></div>
             </div>            
        </div>
        <div class="mainSkill row">
            <div class=" skills col-md-3">
                <div style="left: 8px; top: 5px;"><img style="height: 70px; width: 80px;" class="images" [src]="ajax" alt=""></div>
                <div>AJAX</div>
                <div></div>
             </div>
             <div class=" skills col-md-3">
                <div style="left: 9px; top: 3px;"><img class="images" style="height: 70px; width: 80px;" [src]="json" alt=""></div>
                <div>JSON</div>
                <div></div>
             </div> 
             <div class=" skills col-md-3">
                <div style="top: 4px; left: 0px;"><img style="height: 80px; width: 100px;" class="images" [src]="github" alt=""></div>
                <div>GitHub</div>
                <div></div>
             </div>             
        </div>
        <div class="mainSkill row">
            <div class=" skills col-md-3">
                <div style="top: 3px; left: 3px;"> <img style="height: 70px; width: 100px;" class="images" [src]="c" alt=""></div>
                <div>C++</div>
                <div></div>
             </div>
             <div class=" skills col-md-3">
                <div style="left: 6px;"><img class="images" style="height: 60px; width: 80px;" [src]="java" alt=""></div>
                <div>Java</div>
                <div></div>
             </div>
             <div class=" skills col-md-3">
                <div style="left: -25px;"><img style="height: 90px; width: 150px;" class="images" [src]="sql" alt=""> </div>
                <div>SQL</div>
                <div></div>
             </div>             
        </div> 
        <div class="mainSkill row">
            <div class=" skills col-md-3">
                <div style="left: -25px;"><img style="height: 90px; width: 150px;" class="images" [src]="firebase" alt=""> </div>
                <div>Firebase</div>
                <div></div>
             </div>   
             <div class="STskills skills col-md-3">
                 <section>
                     Problem Solving
                 </section>
             </div>
             <div class="STskills skills col-md-3">
                <section>
                    object oriented programming (OOP)
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-12"> 
        <div class="row D-buttons">
            <a href="assets/Raafat Medhat resume.pdf" class="col-md-3"><i class="fas fa-download"></i> Download Resume.pdf <i class="fas fa-file-pdf"></i></a>
            <a href="assets/Raafat Medhat resume.docx" class="col-md-3"><i class="fas fa-download"></i> Download Resume.docx <i class="far fa-file-word"></i></a>
        </div>       
    </div>   
</section>
<div [class.buttonTop]="offset" (click)="scroll()"><i class="fas fa-arrow-circle-up fa-2x"></i></div>