<section class="fade">
    <h1>Projects</h1>
    <div class="projects-container"> 
            <a href="https://github.com/Raafat44/Bank_System" target="_blank">    
            <div class="row project">
                <div class="detail col-md-5">
                    <h3>Basic Bank System</h3>
                        <ul>
                                <li>
                                    1- Handling Transactions Between users.                         
                                </li>
                                <li>
                                    2- Dashboard for Admin to Edit and Manage users
                                </li>
                        </ul>
                    <p> Built with PHP , MYSQL , HTML/HTML5 , CSS/CSS3 , JAVASCRIPT , JQUERY , BOOTSTRAP  </p>
                </div>
                <div class="img col-md-6">
                    <img [src]="BankSystem2" class="img-fluid" alt="">
                </div>
            </div>       
        </a>        
        <a href="https://raafat44.github.io/EcommerceApp/" target="_blank">    
            <div class="row project">
                <div class="detail col-md-5">
                    <h3>Ecommerce Application</h3>
                    <ul>
                        <li>A Fully functional Ecommerce Website with firebase as a backend</li>
                        <li>A Unic Page for Admin to Add , Modify , Delete Items </li>
                        <li>Each User must SignUp or Login to be able to Add or Remove items to/from his cart </li>
                        <li>Each Item has a Title , Image and Price </li>
                        <li>To enter as an Admin you have to SignUp and Enter  admin@admin.com as an Email  </li>
                    </ul>
                    <p>Built with ANGULAR , HTML/HTML5 , CSS/CSS3 , TypeScript , BOOTSTRAP , FIREBASE </p>
                </div>
                <div class="img col-md-6">
                    <img [src]="EcommerceApp" class="img-fluid" alt="">
                </div>
            </div>       
        </a>
        <a href="https://github.com/Raafat44/BankSystem_Firebase" target="_blank">    
            <div class="row project">
                <div class="detail col-md-5">
                    <h3>Basic Bank System</h3>
                    <ul>
                        <li>A Responsive Web App where you can View your Customers , Make Transactions Between them with Firebase as a Backend</li>
                    </ul>
                    <p> Built with HTML/HTML5 , CSS/CSS3 , JAVASCRIPT , BOOTSTRAP , FIREBASE  </p>
                </div>
                <div class="img col-md-6">
                    <img [src]="BankSystem" class="img-fluid" alt="">
                </div>
            </div>       
        </a>    
        <a href="https://raafat44.github.io/TaskManager/" target="_blank">    
            <div class="row project">
                <div class="detail col-md-5">
                    <h3>Task Manager</h3>
                    <ul>
                        <li>Each task you add has a unic page with The task Title and description</li>
                        <li>You can Add , Delete , Modify you tasks </li>
                    </ul>
                    <p> Built with ANGULAR , HTML/HTML5 , CSS/CSS3 , TypeScript , BOOTSTRAP </p>
                </div>
                <div class="img col-md-6">
                    <img [src]="TaskManager" class="img-fluid" alt="">
                </div>
            </div>       
        </a> 
        <a routerLink="/">    
            <div class="row project">
                <div class="detail col-md-5">
                    <h3>portfolio</h3>                 
                    <p>A full Responsive Angular Project I Show my information in</p>
                    <p>Built with Angular , js , Html/Html , Css/Css3 , bootstrap</p>
                </div>
                <div class="img col-md-6">
                    <img [src]="portfolio" class="img-fluid" alt="">
                </div>
            </div>       
         </a> 
        <a href="https://raafat44.github.io/ColorLib/" target="_blank">    
            <div class="row project">
                <div class="detail col-md-5">
                    <h3>Colorlib Project</h3>
                    <p>A full responsive Fashion website</p>
                    <p> Built with html/html5 , css/css3 , js , jquery ,bootstrap </p>
                </div>
                <div class="img col-md-6">
                    <img [src]="firstImage" class="img-fluid" alt="">
                </div>
            </div>       
         </a>    
         <a href="https://raafat44.github.io/Flights/" target="_blank">    
            <div class="row project">
                <div class="detail col-md-5">
                    <h3>Flights Project</h3>
                    <p>A flights website with two flows <br>1- User flow <br> 2- Admin flow</p>
                    <p>username : user , password : user <br> to enter as an user</p>
                    <p>username : admin , password : admin <br> to enter as an admin</p>
                    <p>Built with Html/Html5 , Css/Css3 , js , jquery</p>
                </div>
                <div class="img col-md-6">
                    <img [src]="secondImage" class="img-fluid" style="height: 300px;" alt="">
                </div>
            </div>       
         </a> 
         <a href="https://raafat44.github.io/military/" target="_blank">    
            <div class="row project">
                <div class="detail col-md-5">
                    <h3>military website</h3>
                    <p>A one page military website </p>
                    <p>Built with Html/Html5 , Css/Css3 </p>
                </div>
                <div class="img col-md-6">
                    <img [src]="forthImage" class="img-fluid" alt="">
                </div>
            </div>       
         </a> 
         <a href="https://raafat44.github.io/Cards-Game/" target="_blank">    
            <div class="row project">
                <div class="detail col-md-5">
                    <h3>Cards Game Project</h3>
                    <p>An entartaining Cards game </p>
                    <p>Built with Html/Html5 , Css/Css3 , js , Es6</p>
                </div>
                <div class="img col-md-6">
                    <img [src]="fifthImage" class="img-fluid" alt="">
                </div>
            </div>       
         </a>   
         <a href="https://raafat44.github.io/French-Restaurant/" target="_blank">    
            <div class="row project">
                <div class="detail col-md-5">
                    <h3>restaurant Project</h3>
                    <p>A one page restaurant website</p>
                    <p>Built with Html/Html5 , Css/Css3 </p>
                </div>
                <div class="img col-md-6">
                    <img [src]="thirdImages" class="img-fluid" alt="">
                </div>
            </div>       
         </a>            
    </div>
</section>
<div [class.buttonTop]="offset" (click)="scroll()"><i class="fas fa-arrow-circle-up fa-2x"></i></div>