<section class="fade">
    <h1>Resume</h1>
    <div class="ED-Container row ">
        <div class="ED col-md-6">
            <h2>Education</h2>            
        </div>
        <div class="col-md-6">
            <div class="detail row">
                <div class="Year col-md-3">2019 - 2023</div>
                <div class="exp col-md-9">
                    <h3>Faculty of computer and information science Ain shams university</h3>
                    <p>
                        Student in the third year
                    </p>                
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="WE-Container row ">
        <div class="WE col-md-6">
            <h2>Trainings</h2>            
        </div>
        <div class=" cont col-md-6">
            <div class="detail row">
                <div class="Year col-md-3">2019 - 2020</div>
                <div class="exp col-md-9">
                    <h3>Frontend training</h3>
                    <p>
                       A Frontend web development training related to the faculty
                    </p>                
                </div>
            </div>
            <div class="detail row">
                <div class="Year col-md-3">2019 - 2020</div>
                <div class="exp col-md-9">
                    <h3>Frontend Work Shop</h3>
                    <p>
                        A Frontend web development Workshop in student activity
                    </p>                
                </div>
            </div>            
        </div>        
    </div>   
    <hr>
    <div class="exp-Container row ">
        <div class="exp col-md-7">
            <h2>Skills <br>& Expertise</h2>            
        </div>
        <div class="col-md-5">
            <ul>
                <li>Html/Html5</li>
                <li>Css/Css3</li>
                <li>JavaScript</li>
                <li>Jquery</li>
                <li>Bootstrap</li>
                <li>Json</li>
                <li>Ajax</li>
                <li>Angular</li>
                <li>Github</li>
<!--                 <li>OOP</li>
                <li>Data Structure</li>
 -->            </ul>
        </div>
    </div>

</section>
