<section class="fade " >    
    <div class="card mb-3"  >
        <div class="row " style="justify-content: center;">
          <div class="col-lg-5 img-cont" >
            <img [src]="alternative" class="img-fluid " alt="...">
          </div>
          <div class="col-lg-7 main-body"  >
            <div class="card-body">
              <p class="card-title" >Hello</p>
              <h5>A Bit About Me</h5>
              <div class="card-text">
                <p>Iam a Software Engineer <br>And Iam seeking for having an opportunity as a Fullstack Web developer</p> 
              </div>

              <div class="buttons">
                  <a routerLink="/about" download class="first">About</a>
                  <a routerLink="/projects" class="second">Projects</a>
                  <a routerLink="/contact" class="third">Contact</a>
              </div>
            </div>            
          </div>
        </div>
      </div>
</section>
